body{
  background-color: rgb(230, 247, 255);
}

.gallery {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
  text-align: center;
  background-color: rgb(183 213 255);
  padding: 14px;
}

@media screen and (max-width: 767px){
    .gallery{
      grid-template-columns: repeat(auto-fill, minmax(150px), 1fr);
      gap: 5px;
    }
}

.recipe{
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border: 1px solid black;
  float: right;
  background-color: white;
}
.recipe img {
  max-width: 100%; /* A imagem não deve exceder a largura da div */
  max-height: 200px; /* Altura máxima da imagem (ajuste conforme necessário) */
  margin-bottom: 10px; /* Espaçamento inferior opcional */
}


.recipe:hover{
  transform: scale(1.05s);
  background-color:rgb(153, 187, 255);
} 

.details{
  position: fixed;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.details p {
  font-size: 18px;
  margin-bottom: 10px;
}


.details button {
  background-color: #d40909;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
}
