.filter {
  background-color: rgb(179, 218, 255);
  float: left;
  width: 15%;
  height: 100vh;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}


